body {
    background: white;
}

div  {
    label {
        display: block;
        font: 1rem 'Fira Sans', sans-serif;
    }
    
    input,
    label {
        margin: .4rem 0;
    }
}
 {
    site-search {
        position: relative;
	display: inline-block;
    }
}


ul{

    padding: 0; margin: 0;

  }
  li   {
    display: inline;
	list-style: none;
  }


